<!-- start content -->
<div id="fullcontentcenter">

<div style="clear: both;">&nbsp;</div>
	<fieldset class="colored"><legend class="colored bigtext">Invite Friends</legend>
	<ul style="padding-left:75px"><li>Friend's Emails (Separate by Comma)
		</li>
		<li>
		<%= text_area :invite, :emails, :rows => 5, :style=> 'width:450px' %>
		</li>
		<% form_remote_tag :url => '/invite/get', :loading => "$('selected-list-ul').innerHTML='<li>Loading...</li>'", :update => 'selected-list-ul', :html => {:name => 'inviteform'} do -%>
		<li style='padding-top:15px'>Import Friends From: &nbsp;<%= select 'invite', 'service',  {'Gmail'=>'gmail','Facebook'=>'facebook','Yahoo'=>'yahoo','Hotmail'=>'hotmail'}  %> <%= text_field :invite, :login, {:size => '10'} %> &nbsp;<%= password_field :invite, :password, {:size => '10'}  %> &nbsp;<%= submit_tag 'Get' %><% end -%>
		</li>
		<li>
			<div class="selected-box">
        	    <div class="selected-list">
					<form name="importform">
					<ul id="selected-list-ul">
						
				
					</ul>
					</form>
					<script language="javascript">
						function addInvites() {
							
							var x = document.forms.importform.elements.contact;
							if (!x) { return; }
							
							var v = $('invite_emails').value;
							var str = '';
							for (var i=0;i<x.length;i++) { if (x[i].checked) {str += ', '+x[i].value}}
							v = v.replace(/\w*,\w*$/,'');
							if (v.length == 0) {str = str.substring(2,str.length)}	
							$('invite_emails').value = v + str;
						
							
							$('selected-list-ul').innerHTML = '';
							// for (var i=0;i<x.length;i++) { x[i].checked=false }
													
						}
					</script>
	            </div>
 			</div>
		</li>
		<li><%= button_to_function 'Add', 'addInvites()' %></li>
		
		
		<li>Subject<br/>
			<%= text_field :invite, :subject, :style=> 'width:450px' %>
		<li>Message<br/>
			
			<%= text_area :invite, :message, :rows => 5, :style=> 'width:450px' %>
			
		</li>
		<li>+ Standard link text</li>
		<li><div align="center" style="margin-top:20px">

		<button id="submit_button" type="submit" class="positive"><%= image_tag "16-em-check.png" , :class => "twelveem" %> Send Invites
	    </button>
		<br/></li>
		
	</li></ul>
	</fieldset>
</span>
</div>