
	<%=render :partial=>'shared/my_listing_navigation'%>

	<fieldset class="colored">

	<ul class="smalltext">
		
		<li><%= error_messages_for :visual %></li>

		<% form_for([@listing, @visual], :html => { :multipart => true, :target=>'visuals_list' } ) do |f| %>
      <li class="whole"><label>Picture / Video:</label> <%= f.file_field :uploaded_data %></li>
      <li class="whole"><label>Description:</label> <%= f.text_field :comment %></li>
      
      <li class="whole" style="text-align:center"><%= f.submit "Upload File" %></li>

		<% end %> 
		<li class="whole">&nbsp;</li>
		<li class="whole" style="text-align:center">Uploaded photos and videos</li>
		<li class="whole">
		  <iframe name="visuals_list" frameborder="0" width="100%" height="300" src="<%=listing_visuals_url current_user.listing%>"></iframe>
		</li>

	</ul>

	</fieldset>







