<div id="fullcontentcenter" align="center">
	
	<%=render :partial=>'shared/my_listing_navigation'%>
	
	<fieldset class="colored"><legend class="colored bigtext">Required Info</legend>
	
	<div id="listview_m" style="margin-left:50px">
		
	<ul class="smalltext" style="padding-left:100px">
		<%= error_messages_for :listing %>

		<% form_for(@listing) do |f| %>

			<li class="whole"><label for="user_listing_attr_address">Street Address</label><%=f.text_field :address, :class => 'text required', :size => '20' %></li>  

			<li class="whole"><label for="user_listing_attr_cross_street">Cross Street:</label><%=f.text_field :cross_street,:class => 'text', :size => '15'%></li>

			<li class="whole"><label for="user_listing_attr_nhood">Neighborhood:</label> <%= f.collection_select :nhood_id, @nhoods, :id, :name, {:include_blank=>'[select]'} %> </li>

			<li class="whole"><label for="user_listing_attr_apt_type">Apartment Type</label><%= f.collection_select :apt_type_id, @apt_types, :id, :name, {:include_blank=>'[select]', :class=>'required'}, :width =>'10' %></li>

			<li class="whole"><label for="user_listing_attr_avail_date">Available Date</label><%= f.text_field :avail_date, :class => 'text required', :size => '8' %> </li> 

			<li class="whole"><label for="user_listing_attr_rent_range">Rent</label> <%= f.collection_select :rent_range_id, @rent_ranges, :id, :name, {:include_blank=>'[select]'}, {:value => 11, :class => 'required'} %></li>
			
			<li class="whole">&nbsp;</li>
			
		    <li class="whole"><label>&nbsp;</label><%= f.submit "Submit" %></li>
		<% end %>
	</ul>
	
	</div>
	</fieldset>
</div>







