
<!-- NOT USED -->


<!-- start content -->
<div id="fullcontentcenter" align="center">
	<fieldset class="colored"><legend class="colored bigtext">Add Some Details</legend>
	
	<div id="listview_m" style="margin-left:50px">
	<%= error_messages_for :listing %>
	<ul>
<% form_for(@listing, :url=>listing_listing_info_url(@listing) ) do |f| %>

  		<!-- <li> Photos and Videos. Remember the more you give the more you get. Upload 3 photos of your place and you'll see photos uploaded by others. Even better, upload a video and see videos in other's listings.<%= f.submit "Skip >>" %></li>

  		<% fields_for(:visual1) do |f_visual| %> 
  			<li><label for="visual_file_name">Choose Image Files</label>
			<%= f.file_field :file %></li>
		<%end%>

		<% fields_for('visual1') do |f_visual| %> 
			<li><label for="visual_file_name">Choose Image Files</label></li>
			<li><%= f_visual.file_field :file %></li>
			<li><%= f_visual.file_field :file %></li>
			<li><%= f_visual.file_field :file %></li>
		<%end%> -->

		<!-- <% fields_for(:visual2) do |f_visual| %> 
		<%= f.file_field :file %> <br/>
		<%end%>

		<% fields_for(:visual3) do |f_visual| %> 
		<%= f.file_field :file %> <br/>
		<%end%> -->

 		<!-- <a href="#">Upload another image</a><br/>

		<label for="visual_file_name">Choose Video Files</label><br/>
		<% fields_for(:video4) do |f_visual| %> 
		<%= f.file_field :file %> <br/>
		<%end%>
		<a href="#">Upload another video</a><br/>
		
		<label for="visual_comment">Image/Video Comment<br/>
		</p>
		 -->
		<li><label for="listing_rent_controlled">Rent Controlled:</label><br/>  <%= check_box f, :rent_controlled %></li>
<label for="listing_rent_stabilized">Rent Stabilized:</label><br/>  <%= check_box f, :rent_stabilized %>  <br/>

<label for="listing_landlord_phone_number">Landlord Phone Number:</label> <br/>  <%= text_field f, :landlord_phone_number %> <br/>

<label for="listing_broker_phone_number">Broker Phone Number:</label> <br/>  <%= text_field f, :broker_phone_number %> <br/>

<label for="listing_sq_footage">Sq Footage:</label> <br/>  <%= text_field f, :sq_footage%> <br/>
<label for="listing_ceiling_height">Ceiling Height:</label> <br/>  <%= text_field f, :ceiling_height%> <br/>
<label for="listing_convertable">Convertible:</label><br/>  <%= check_box f, :convertable%>  <br/>
<label for="listing_separate_kitchen">Separate Kitchen:</label><br/>  <%= check_box f, :separate_kitchen%>  <br/>

<p>
<div id="room1_info">
<h3>Bedroom #1</h3>
 <% fields_for("room[1]") do |f_room| %> 

<label for="listing_cross_street">Length:</label>  <%= text_field f_room, :length%> &nbsp;&nbsp;
<label for="listing_cross_street">Width:</label>  <%= text_field f_room, :width%> &nbsp;&nbsp; <br/>
<label for="hm">Light:</label>   <%= collection_select f_room, :light_level, @light_levels, :id, :name, {:include_blank=>'Select'} %>&nbsp;&nbsp;
<label for="hm">Window Direction:</label>  <%= collection_select f_room, :direction, @window_directions, :id, :name, {:include_blank=>'Select'} %> <br/>

<%end %>
</div>
<div id="room2_info">
<h3>Bedroom #2</h3>
 <% fields_for(:room2) do |f_room| %> 

<label for="listing_cross_street">Length:</label>  <%=text_field f_room, :length%> &nbsp;&nbsp;
<label for="listing_cross_street">Width:</label>  <%=text_field f_room, :width%> &nbsp;&nbsp; <br/>
<label for="hm">Light:</label>   <%= collection_select f_room, :light_level, @light_levels, :id, :name, {:include_blank=>'Select'} %>&nbsp;&nbsp;
<label for="hm">Window Direction:</label>  <%= collection_select f_room, :direction, @window_directions, :id, :name, {:include_blank=>'Select'} %> <br/>

<%end %>
</div>
<div id="room3_info">
<h3>Bedroom #3</h3>
 <% fields_for(:room3) do |f_room| %> 

<label for="listing_cross_street">Length:</label>  <%=text_field f_room, :length%> &nbsp;&nbsp;
<label for="listing_cross_street">Width:</label>  <%=text_field f_room, :width%> &nbsp;&nbsp; <br/>
<label for="hm">Light:</label>   <%= collection_select f_room, :light_level, @light_levels, :id, :name, {:include_blank=>'Select'} %>&nbsp;&nbsp;
<label for="hm">Window Direction:</label>  <%= collection_select f_room, :direction, @window_directions, :id, :name, {:include_blank=>'Select'} %> <br/>

<%end %>
</div>
<div id="room4_info">
<h3>Bedroom #4</h3>
 <% fields_for(:room4) do |f_room| %> 

<label for="listing_cross_street">Length:</label>  <%=text_field f_room, :length%> &nbsp;&nbsp;
<label for="listing_cross_street">Width:</label>  <%=text_field f_room, :width%> &nbsp;&nbsp; <br/>
<label for="hm">Light:</label>   <%= collection_select f_room, :light_level, @light_levels, :id, :name, {:include_blank=>'Select'} %>&nbsp;&nbsp;
<label for="hm">Window Direction:</label>  <%= collection_select f_room, :direction, @window_directions, :id, :name, {:include_blank=>'Select'} %> <br/>

<%end %>
</div>
<div id="livingroom_info">
<h3>Living Room</h3>
 <% fields_for(:living_room) do |f_room| %> 

<label for="listing_cross_street">Length:</label>  <%=text_field f_room, :length%> &nbsp;&nbsp;
<label for="listing_cross_street">Width:</label>  <%=text_field f_room, :width%> &nbsp;&nbsp; <br/>
<label for="hm">Light:</label>   <%= collection_select f_room, :light_level, @light_levels, :id, :name, {:include_blank=>'Select'} %>&nbsp;&nbsp;
<label for="hm">Window Direction:</label>  <%= collection_select f_room, :direction, @window_directions, :id, :name, {:include_blank=>'Select'} %> <br/>

<%end %>
</div>
</p>

<label for="listing_multi_level">Multi Level:</label><br/>  <%= check_box f, :multi_level%>  <br/>
<label for="listing_penthouse">Penthouse:</label><br/>  <%= check_box f, :penthouse%>  <br/>
<label for="listing_private_entrance">Private Entrance:</label><br/>  <%= check_box f, :private_entrance%>  <br/>
<label for="listing_balcony">Balcony:</label><br/>  <%= check_box f, :balcony%>  <br/>
<label for="listing_patio">Patio:</label><br/>  <%= check_box f, :patio%>  <br/>
<label for="listing_back_yard">Back Yard:</label><br/>  <%= check_box f, :back_yard%>  <br/>
<label for="listing_gym">Gym:</label><br/>  <%= check_box f, :gym%>  <br/>
<label for="listing_laundry">Laundry:</label><br/>  <%= check_box f, :laundry%>  <br/>
<label for="listing_roaches">Roaches:</label><br/>  <%= check_box f, :roaches%>  <br/>
<label for="listing_rodents">Rodents:</label><br/>  <%= check_box f, :rodents%>  <br/>
<label for="listing_broadband">Broadband:</label><br/>  <%= check_box f, :broadband%>  <br/>

<label for="listing_floor_type">Floor_Type</label> <br/>  <%= collection_select f, :floor_type, @floor_types, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_heat_q">Heat:</label> <br/>  <%= collection_select f, :heat_q, @heat_quality_choices, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_heat_q">A/C Type:</label> <br/>  <%= collection_select f, :ac_type, @ac_types, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_maintenance_q">Maintenance:</label> <br/>  <%= collection_select f, :maintenance_q, @maintenance_quality_choices, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_appliance_q">Appliances:</label> <br/>  <%= collection_select f, :appliance_q, @appliances_quality_choices, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_bathroom_q">Bathroom Fixtures:</label> <br/>  <%= collection_select f, :bathroom_q, @bathroom_quality_choices, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_cellphone_q">Cellphone Signal:</label> <br/>  <%= collection_select f, :cellphone_q, @cellphone_quality_choices, :id, :name, {:include_blank=>'Select'} %> <br/>

<label for="listing_street_noise_level">Street Noise:</label> <br/>  <%= collection_select f, :street_noise_level, @street_noise_levels, :id, :name, {:include_blank=>'Select'} %> <br/>
<label for="listing_nbors_noise_level">Neighbor Noise:</label> <br/>  <%= collection_select f, :nbors_noise_level, @nbors_noise_levels, :id, :name, {:include_blank=>'Select'} %> <br/>

<label for="listing_cellphone_q">Cellphone Signal:</label> <br/>  <%= collection_select f, :cellphone_q, @cellphone_quality_choices, :id, :name, {:include_blank=>'Select'} %> <br/>

<label for="listing_comment">Other Comments:</label> <br/>  <%= text_area f, :comment%> <br/>

  </p>
  <%= f.submit "Next >>" %>
<% end %>

<%= link_to 'Back', listings_path %>

	</ul>
	
	</div>
	</fieldset>
</div>
