<!-- start content -->
<div id="fullcontentcenter" align="center">
	<fieldset class="colored"><legend class="colored bigtext">Add Some Details</legend>
	
	<div id="listview_m" style="margin-left:50px">
	
	<ul>
		<% form_for( [@listing, @listing_info], :url=>listing_listing_info_url(@listing) ) do |f| %>
		
		
		<li class="whole line">Numbers</li>
		<li><label for="listing_info_sq_footage">Sq Footage</label>
		<%=f.text_field :sq_footage, :size => 4 , :class=>'required text' %></li>
		<li><label for="listing_info_no_of_bathrooms"># Bathrooms</label>
		<%= f.select :no_of_bathrooms, {'1'=>'1','2'=>'2','3'=>'3','4'=>'4'},{:include_blank=>'...', :class=>'required'} %></li>
		<li><label for="listing_info_ceiling_height">Ceiling Height</label>
		<%=f.text_field :ceiling_height, :size => 4 , :class=>'required text'%></li>	<li><label for="listing_info_landlord_phone_number">Landlord #</label>
		<%=f.text_field :landlord_phone_number, :size => 10 , :class=>'required texts' %></li>

		
		<li class="whole line">Essentials</li>
		<li><label for="listing_info_maintenance_q">Maintenance</label>
		<%= f.collection_select  :maintenance_q_id, @maintenance_quality_choices, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>
		<li><label for="listing_info_appliance_q">Appliance Cond</label>
		<%= f.collection_select  :appliances_q_id, @appliances_quality_choices, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>
		<li><label for="listing_info_bathroom_q">Bathroom Cond</label>   
		<%= f.collection_select  :bathroom_q_id, @bathroom_quality_choices, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>	
		<li><label for="listing_info_heat_q">Heat</label>   
		<%= f.collection_select  :heat_q_id, @heat_quality_choices, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>
		
	
		<li class="whole line">Features</li>
		<li><label for="listing_info_elevator">Elevator</label><%= f.check_box :elevator %></li>
		<li><label for="listing_info_laundry">Laundry</label><%= f.check_box :laundry %></li>
		<li><label for="listing_info_gym">Gym</label><%= f.check_box :gym %></li>
		<li><label for="listing_info_doorman">Doorman</label><%= f.check_box :doorman %></li>
		
		
		<li class="whole line">Other</li>
		
		
		<li><label for="listing_info_street_noise_level">Noise</label> 
		<%= f.collection_select  :street_noise_level_id, @street_noise_levels, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>
		<li><label for="listing_info_cellphone">Cellphone</label> 
		<%= f.collection_select  :cellphone_q_id, @cellphone_quality_choices, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>
		<li><label for="listing_info_pets">Pets</label> 
		<%= f.collection_select  :pets_id, @pets_choices, :id, :name, {:include_blank=>'...', :class=>'required'} %></li>
		
		
		
		<li><label for="listing_info_convertable">Convertible</label><%= f.check_box :convertable%></li> 
		<li><label for="listing_info_separate_kitchen">Seperate Kitchen</label><%= f.check_box :separate_kitchen%></li> 
		<li><label for="listing_info_rent_controlled">Rent Controlled</label><%= f.check_box :rent_controlled%></li>
		<li><label for="listing_info_rent_stabilized">Rent Stabilized</label><%= f.check_box :rent_stabilized%></li> 
		
		<li class="whole">&nbsp;</li>
		
		<li class="whole">
		<div align="center"><button id="submit_button" type="submit" class="positive">
			<img class="twelveem" src='/images/icons/16-em-check.png'/>Submit
		</button></div>
		</li>
		<% end %>
	</ul>
	
	</div>
	</fieldset>
</div>

