<%= error_messages_for :user %>


<!-- start content -->
<div id="fullcontentcenter">

<div align="center"><span class="boxspan selected" id="chooseny">I'm a current NYC renter!</span><span class="boxspan" id="chooseoot">I'm from out of town!</span></div>


<div style="clear: both;">&nbsp;</div>

<span id="nyform">
	
	<fieldset class="colored"><legend class="colored bigtext">Sign Up & List Your Place</legend>

	<ul>
		
		<% form_for @user do |f| %>
		
		<li><label>username</label><%= f.text_field :username, :class => 'required text', :size => '10' %></li>
		
		<li><label>password</label><%= f.password_field :password, :class => 'text required', :size => '10' %></li>
		<li><label>email</label><%= f.text_field :email, :class => 'text required', :size => '10' %></li>
		
		<%fields_for 'user[listing_attr]' do |f_listing| %>
		     <li><label for="user_listing_attr_address">Street address</label> </li> <%=f_listing.text_field :address, :class => 'text required', :size => '20' %> <br/>
          
          <li><label for="user_listing_attr_cross_street">Cross Street:</label> <br/>  <%=f_listing.text_field :cross_street, :value=>'East 11th St'%> <br/>
      
          <li><label for="user_listing_attr_nhood">Neighborhood:</label> <br/>  <%= f_listing.collection_select :nhood_id, @nhoods, :id, :name, {:include_blank=>'Select'} %> <br/>

		      <li><label for="user_listing_attr_apt_type">Apartment type</label> </li>  <%= f_listing.collection_select :apt_type_id, @apt_types, :id, :name, {:include_blank=>'Select', :class=>'required'} %> <br/>

		      <li><label for="user_listing_attr_avail_date">Available date</label> </li> <%= f_listing.text_field :avail_date, :class => 'text required', :size => '8' %> </li>

		      <li><label for="user_listing_attr_rent_range">Rent</label> </li>  <%= f_listing.collection_select :rent_range_id, @rent_ranges, :id, :name, {:include_blank=>'Select'}, {:value => 11, :class => 'required'} %>
		
	
		   <br/> 
		
		
		<div align="center" style="margin-top:20px">

		<button id="submit_button" type="submit" class="positive">
		        <img class="twelveem" src='/images/icons/16-em-check.png'/>Submit
	    </button>
		<br/>
		
		<% end %>
		
		
	</ul>
	</fieldset>
</span>
</div>
