<!-- start content -->
<div id="fullcontentcenter">

<div align="center"><span class="boxspan selected" id="chooseny">I'm a current NYC renter!</span><span class="boxspan" id="chooseoot">I'm from out of town!</span></div>


<div style="clear: both;">&nbsp;</div>

<fieldset class="colored"><legend class="colored bigtext">Login</legend>
<ul>
	
	<form action="/users/auth" method="post">
		<li><label>username</label><input class="required text" type=text size=15/></li>
		<li><label>password</label><input class="required text" type=password size=15/></li>
	<div align="center" style="margin-top:20px">
	<button id="submit_button" type="submit" class="positive">
	        <img class="twelveem" src='/images/icons/16-em-check.png'/>Go
    </button>
	</div>
	</form>  	
	
</ul>
</fieldset>

<div>&nbsp;<br/><br/></div>

<span id="nyform">
	
	<fieldset class="colored"><legend class="colored bigtext">Sign Up & List Your Place</legend>

	<ul>
		
		<% form_for @user do |f| %>
		
		<li><label>username</label><%= f.text_field :username, :class => 'required text', :size => '10' %></li>
		
		<li><label>password</label><%= f.password_field :password, :class => 'text required', :size => '10' %></li>
		<li><label>email</label><%= f.text_field :email, :class => 'text required', :size => '10' %></li>
		
		<%fields_for 'user[listing_attr]' do |f_listing| %>
		      <li><label for="user_listing_attr_address">street address</label> </li> <%=f_listing.text_field :address, :class => 'text required', :size => '20' %> <br/>

		      <li><label for="user_listing_attr_apt_type">apartment type</label> </li>  <%= f_listing.collection_select :apt_type_id, @apt_types, :id, :name, {:include_blank=>'...', :class=>'required'} %> <br/>

		      <li><label for="user_listing_attr_avail_date">available date</label> </li> <%= f_listing.text_field :avail_date, :class => 'text required', :size => '8' %> </li>

		      <li><label for="user_listing_attr_rent_range">rent</label> </li>  <%= f_listing.collection_select :rent_range_id, @rent_ranges, :id, :name, {:include_blank=>'...'}, {:value => 11, :class => 'required'} %>
		
	
		   <br/> 
		
		<% end %>
		<div align="center" style="margin-top:20px">

		<button id="submit_button" type="submit" class="positive">
		        <img class="twelveem" src='/images/icons/16-em-check.png'/>Submit
	    </button>
		<br/>
		<!-- <span id="submit_error">please complete the required info</span></div> -->

		
		<% end %>
		
		
	</ul>
	</fieldset>
</span>
<!-- <span id="ootform">
	
	<fieldset class="colored"><legend class="colored bigtext">Invite Some Friends</legend>

	<ul><li>
<b>Don't fret!</b>  We'll still let you have access to our listings, but first you'll have to <b>help us out</b> and invite 5 friends to signup (psst - pass a link along to all your NYC friends!). <br/><br/>Sorry for being a pain, but we're relying on your help to <b>grow our listings database</b> for the benefit of everyone (including you)!

	</li></ul>
	</fieldset>

</span>
-->
<!--

<script type="text/javascript">

var nySlide = new Fx.Slide('nyform');
var ootSlide = new Fx.Slide('ootform');

ootSlide.hide();

$('chooseny').addEvent('click', function(e){

	$('chooseny').setAttribute('class','boxspan selected');
	$('chooseoot').setAttribute('class','boxspan');

	e = new Event(e);
	ootSlide.slideOut('vertical');
	nySlide.slideIn('vertical');
	e.stop();
});

$('chooseoot').addEvent('click', function(e){

	$('chooseny').setAttribute('class','boxspan');
	$('chooseoot').setAttribute('class','boxspan selected');

	e = new Event(e);
	nySlide.slideOut('vertical');
	ootSlide.slideIn('vertical');
	e.stop();
});


var accordion = new Accordion('h3.atStart', 'div.atStart', {
	opacity: false,
	onActive: function(toggler, element){
		toggler.getElementsByTagName("span")[0].setAttribute('style','background: url(/images/icons/arrow-down.gif) no-repeat left');
		toggler.setStyle('color', '#b31b1b');
		toggler.setStyle('margin-bottom', '0px');

		if (element.id == 'lastelement') element.setStyle('border-bottom-width','1px');

	},
	onBackground: function(toggler, element){

		toggler.getElementsByTagName("span")[0].setAttribute('style','background: url(/images/icons/arrow-right.gif) no-repeat left');
		toggler.setStyle('color', '#222');
		toggler.setStyle('margin-bottom', '3px');

		if (element.id == 'lastelement') element.setStyle('border-bottom-width','0px');
	}
}, $('accordion'));

var newTog = new Element('h3', {'class': 'toggler'}).setHTML('Common descent');
//var newEl = new Element('div', {'class': 'element'}).setHTML('<p>A group of organisms is said to have common descent if they have a common ancestor. In biology, the theory of universal common descent proposes that all organisms on Earth are descended from a common ancestor or ancestral gene pool.</p><p>A theory of universal common descent based on evolutionary principles was proposed by Charles Darwin in his book The Origin of Species (1859), and later in The Descent of Man (1871). This theory is now generally accepted by biologists, and the last universal common ancestor (LUCA or LUA), that is, the most recent common ancestor of all currently living organisms, is believed to have appeared about 3.9 billion years ago. The theory of a common ancestor between all organisms is one of the principles of evolution, although for single cell organisms and viruses, single phylogeny is disputed</p>');
//accordion.addSection(newTog, newEl, 0);
</script> -->
</div>