<% l = listing %>


<%update_page do |page|%>

<%=render :partial=>"shared/flag_popup", :locals=>{:listing=>l, :page=>page}%>
<div class="post" style="z-index:0">
	<div class="entry" style="z-index:0">
      <div class="header" style="z-index:0">
    
			<ul>
          <span class="floatleft">
            <!--favorites stars-->
                  
				  		<%=image_tag(
                      'grey_star.png', 
                      :id=>"off_star_#{listing_counter}", 
                      :onclick=>[page.toggle("off_star_#{listing_counter}", "on_star_#{listing_counter}"), remote_function(:url=>listing_favorites_url(listing), :method=>:post)], 
                      :style=>"cursor:pointer;#{l.favorite? ? 'display:none;' : ''}", 
                      :title=>'Add to favorites') 
			         %>
                  
                  <%=image_tag(
                      'yellow_star.png', 
                      :id=>"on_star_#{listing_counter}", 
                      :onclick=>[page.toggle("off_star_#{listing_counter}", "on_star_#{listing_counter}"), remote_function(:url=>listing_favorite_url(listing, 0), :method=>:delete)], 
                      :style=>"cursor:pointer;#{l.favorite? ? '' : 'display:none;'}", 
                      :title=>'Remove from favorites') 
			         %>
                  
                &nbsp;
              </span>
              
              <!--favorites stars/-->
              <%content_tag( 
              :span,
              :onclick => ["$('header_#{listing_counter}').style.fontWeight='normal';", 
                            visual_effect(:toggle_slide, "listingshow_#{listing_counter}", :duration => 0.4 ), 
                            page.hide("unread_#{listing_counter}"),
                            page.show("read_#{listing_counter}"),
                            remote_function(:url=>listing_readings_url(listing), :method=>:post)],
              :class=>'floatleft',
              :style => "cursor:pointer;background:#F0F0F0;") do %>
              
               
                <%=content_tag( 
                :h2,
                "#{l.apt_type} | #{l.nhood} | #{l.rent_range}",      
                :style=>"#{l.unread? ? 'font-weight:bold;':'font-weight:normal;'}", 
                :id=>"header_#{listing_counter}") %>
                  
                
              <%end%>
              <span style="float:right;">
               <%=image_tag(
                      'flag.gif', 
                      :id=>"flag_#{listing_counter}", 
                      :onclick=>[page.toggle("flag_popup_#{listing.id}")],
                      :style=>"cursor:pointer;", 
                      :title=>'Flag listing') 
			         %>
               
                  
               <%=image_tag(
                      'unchecked.gif', 
                      :id=>"unread_#{listing_counter}", 
                      :onclick=>["$('header_#{listing_counter}').style.fontWeight='normal';", page.toggle("read_#{listing_counter}", "unread_#{listing_counter}"), remote_function(:url=>listing_readings_url(listing), :method=>:post)], 
                      :style=>"cursor:pointer;#{l.read? ? 'display:none;' : ''}", 
                      :title=>'Mark as read') 
			         %>
                  
                  <%=image_tag(
                      'checked.gif', 
                      :id=>"read_#{listing_counter}", 
                      :onclick=>["$('header_#{listing_counter}').style.fontWeight='bold';",page.toggle("read_#{listing_counter}", "unread_#{listing_counter}"), remote_function(:url=>listing_reading_url(listing, 0), :method=>:delete)], 
                      :style=>"cursor:pointer;#{l.read? ? '' : 'display:none;'}", 
                      :title=>'Mark as unread') 
			         %>
               </span>
               <div style="clear: both;"></div>	
						<%=l.address%> | Available: <%= l.avail_date.strftime("%b %d, '%y") %> | Posted: <%=l.created_at.strftime("%b %d, '%y")%>
				</li>
    		</ul>
      </div>
			
      
			<div id="listingshow_<%= listing_counter %>" style="border:1px solid gray;border-top:0;padding:6px; background:#FFF; display:none;z-index:0">
				
			<ul style="padding-top:3px">
				<li>Popularity: <%=l.favorites.count%></li>
          
          <%if l.flag_alert?%>
          <li>Warning: 
            <%if l.broker_alert?%>
              This listing is likely a broker listing.
            <%elsif l.na_alert?%>
              This apartment is probably no longer available.
            <%elsif l.bogus_alert?%>
               This listing 
            <%end%>
          <%end%>
				<li>
            <%if !current_user.photo_access?%>
	        		<div class="lockedheader">
							<%=image_tag 'images.png', :title => 'Images'%> <a href=""><%= image_tag 'lock.png', :onmouseover => "this.src='/images/lock_open.png'", :onmouseout => "this.src='/images/lock.png'", :title => 'Unlock Images' %></a>
							<br><span style="font-size:10px">Images are currently <b>locked</b>.<br/>Upload images of your own listing to view images.</span>
						</div>
	         	<%else%>
	          	<%if l.photos.size == 0 %>
	          		No Photos Submitted&nbsp;&nbsp;<a href="">Request photos</a>
	          	<%else%>
	          		<table width=100%>
                    <tr>
                      <% l.photos.each do |visual|  %>
                          <td><%= image_tag(visual.public_filename(:thumb), :height=>50, :width=>60) %> <br/> <%=visual.comment %></td>
                      <%end%>
	            		</tr>
                  </table>
				  	<%end%>
					<%end%>
				<!-- end image -->
				</li>
            <%if current_user.listing_info_access?%>
                <%if l.listing_info?%> 
                    <%=render :partial => 'shared/listing_info', :locals => {:li=>l.listing_info}%>
                <%else%>
                  No detailed info is available <a href="">Request detailed info</a>
                <%end%>
            <%else%>
              <%=render :partial=>'shared/locked_listing_info'%>
            <%end%>
   
	        <li><b>Posted By:</b> <%= l.user.username %></li>
	 			 <li>
              <b>Comments</b>&nbsp;
              <%=image_tag( 'plus.jpg', 
                  :id=>"show_comments_#{l.id}", 
                  :onclick =>[visual_effect(:toggle_slide, "comments_block_#{l.id}", :duration => 0.4 ),
                              page.toggle("show_comments_#{l.id}", "hide_comments_#{l.id}")],
                  :style=>'cursor:pointer')%>
                  
              <%=image_tag('minus.jpg',
                  :id=>"hide_comments_#{l.id}",
                  :onclick =>[visual_effect(:toggle_slide, "comments_block_#{l.id}", :duration => 0.4 ),
                              page.toggle("show_comments_#{l.id}", "hide_comments_#{l.id}")],
                  :style=>'display:none;cursor:pointer')%>
              
           </li>
				
					
            <div id="comments_block_<%=l.id%>" style="display:none">
						
			        <%=render :partial=>'shared/comment_list', :locals=>{:comments=>l.comments}%>

                <!--<%= render :partial=>'/shared/create_comment', :locals=>{:listing=>l, :comment=>ListingComment.new}%>--> 			
            </div>
					
			  	
				
			     
          </ul>
			 </div>
      </div>
  </div>
<% end %>
