<%listing = listing_summary%>
<div class="post">

	<div class="entry">
		<div class="floatleft">
			
			<!-- image -->
			<img style="width: 70px; height: 50px;" alt="" class="left bordered_img" src="
			<%if listing.visuals? %>
			  <%if listing.photo_access?%>/images/stock_apt1_small.jpg	
			  <%else%>/images/image_lock.gif
			  <%end%>
			<%else%>/images/image_none.gif
			<%end%>
			"/>
			<!-- end image -->
			
			<%= link_to listing.address, listing_url(listing)%>
			
			, New York, NY<br /> 
			
			<b><%=listing.rent_range%></b> / month<br/> <%=listing.apt_type%> <br/>
			Available on <%= listing.avail_date.strftime("%b %d, '%y") %>
			
		</div>
		<div class="floatright"><br/><br/><%=listing.nhood%></div>
	</div>

	<div class="meta">
	<p class="byline">Posted on <%=listing.created_at.strftime("%b %d, '%y")%> by <%=
  listing.user.username %></p>
<p class="links"><a href="#" class="more">Flag
this Listing</a><a href="#" class="more">Add
to Favorites</a> <b>|</b> <a href="#" class="comments">Comments ($num)</a></p>
	</div>

</div>
