<%=listing.sq_footage%> sq. ft with <%=listing.ceiling_height%> ft ceilings<br/>.  <%=listing.floor_type.name%> floor, <%=listing.appliance_q.name%> appliaces and <%=listing.bathroom_q.name%> bathroom fixtures. 

<table>
<tr>
<td>Features:</td>
<td>



<tr>
<td>Bathrooms:</td>
<td><%=listing.bathrooms??'shared',listing.bathrooms%> </td>
in </td>
<td><%=['poor', 'ok', 'like new'][listing.bathroom_fixture_q]%></td>
<td>Separate Kitchen:</td>
<td><%=listing.separate_kitchen??'yes', 'no'%>
<td>Condition: </td>
<td><%=listing.appliances_q??'poor','ok','like new'%> 
</tr>
<tr>
<td>




This <%=listing.multi_level??'multi-level',''%><%=listing.penthouse??' penthouse':' '%> apartment features: <%=listing.separate_kitchen??'separate kitchen,', ''%><%=listing.bathrooms%> <%=pluralize(listing.bathrooms, bathroom)%>, 
<%=listing.private_entrance??'private entrance, ':''%>, <%=listing.no_of_balconies??listing.no_of_balconies + ' ' + pluralize(listing.no_of_balconies, 'balcony') + ', ':'' %><%=listing.no_of_patios??listing.no_of_patios + ' ' + pluralize(listing.no_of_patios, 'patio') + ', ':''%> 
<%=['','public backyard and ','private backyard and '][listing.back_yard]%><%=listing['','public roof access','private roof access'][listing.roof_access]%>. 

This is an <%=listing.elevator??'elevator':'walkup'%> building that features <%=listing.laundary??'indoor laundromat and ':''%> and <%=listing.gym??'indoor gym':''%>. 
 
Street noise is <%=['low','medium','high'][listing.street_noise_level]%>, neighbors are <%=['not','moderately', 'very'][listing.nbors_noise_level.name]%> noisy. A/C is  type. This apartment is <%=['cold', 'chilly', 'warm'][listing.heat_q]%> in the winter and has <%=['no','window','wall','central']%> A/C. 
Maintenance by the super has been <%='poor', 'average', 'very good'%>listing.maintenance_q.name%>. 
Cell phone signal for provider <%=listing.cellphone_provider %> is <%=listing.cellphone_q.name%>. &nbsp;
<%if listing.livingroom?%>
 Livingroom is <%=listing.livingroom.length%> x <%listing.length, :size=>3%>, has <%=listing.livingroom.light_level %> light, with windows facing <%=listing.livingroom.window_direction%>.&nbsp;
<%end%>

<%listing.bedrooms.each_with_index do |bedroom, i|%>
  Bedroom <%=i + 1%> is <%=bedroom.length%> x <%=bedroom.width%>, has <%=bedroom.light_level%> light, windows facing <%=bedroom.window_direction%>.
<%end %>
